@page "/"
@using Backend.Data._MySQL;
@using Backend.Data._MySQL.Objects;
@using Backend.Data;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string Name = "NONE";

    private void GetNames()
    {
        Name = CacheHandler.FindCurrency(1).name;
    }

    private void ClearNames()
    {
        Name = "NONE";
    }
}

<p>FurstName: @Name</p>
<button class="btn btn-primary" @onclick="GetNames">First Id</button>
<button class="btn btn-primary" @onclick="ClearNames">Remove</button>
