@page "/"
@using Backend.Data._MySQL;
@using Backend.Data._MySQL.Objects;
@using Backend.Data;
@using Backend.Authorization;
@inject NavigationManager NavigationManager

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private void GoDiscordBot()
    {
        NavigationManager.NavigateTo("https://discordapp.com/oauth2/authorize?client_id=658254702773010452&scope=bot&permissions=0&response_type=code&redirect_uri=https%3A%2F%2Flocalhost%3A44303%2FAuthorization%2F&state=identifier%3D" + Identifiers.AddIdent(DataHandler.FindStreamer(1),1) + "%26auth_mode=discordbot");
    }
}

<button class="btn btn-primary" @onclick="GoDiscordBot">Discord</button>
