@page "/"
@using Backend._MySQL;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string Name = "NONE";

    private void GetNames()
    {
        Name = SQL.pubInstance.Read("SELECT * FROM currency_users")[0][1].ToString();
    }

    private void ClearNames()
    {
        Name = "NONE";
    }
}

<p>FurstName: @Name</p>
<button class="btn btn-primary" @onclick="GetNames">First Id</button>
<button class="btn btn-primary" @onclick="ClearNames">Remove</button>
