@page "/"
@using Backend.Authorization;
@inject NavigationManager navManager;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="()=>AuthAction.GoDiscordBot(navManager)">Add Bot</button>
<button class="btn btn-primary" @onclick="()=>AuthAction.GoDiscordSignin(navManager)">Sign in to Discord</button>
<button class="btn btn-primary" @onclick="()=>AuthAction.GoTwitchSignin(navManager)">Twitch</button>
