@page "/Link"
@using Backend.Data._MySQL.Objects;
@using Backend.Integrations;
@using Backend.Authorization;
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives;
@using Newtonsoft.Json.Linq;
@using Blazored.SessionStorage;
@inject NavigationManager navManager;
@inject ISessionStorageService sessionStorage

<h1>Profile</h1>

<p>Twitch: @sTwitch</p>
<p>Discord: @sDiscord</p>

@code {
    string sTwitch, sDiscord;

    JToken t_Data, d_Data;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        t_Data = await AuthAction.GetTwitchLogin(navManager, sessionStorage);
        if (t_Data != null) d_Data = await AuthAction.GetDiscordLogin(navManager, sessionStorage);

        if (t_Data != null && d_Data != null)
        {
            sTwitch = t_Data["display_name"].ToString();
            sDiscord = d_Data["username"].ToString();
        }

        StateHasChanged();
    }

}