@page "/Profile"
@using Backend.Data._MySQL.Objects;
@using Backend.Data;
@using Backend.Authorization;
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives;
@using Newtonsoft.Json.Linq;
@using Blazored.SessionStorage;
@inject NavigationManager navManager;
@inject ISessionStorageService sessionStorage

<h1>Profile</h1>

<p>TwitchName: @T_name</p>

@code {
    string T_name, T_token;

    protected override async void OnInitialized()
    {
        T_token = await sessionStorage.GetItemAsync<string>("twitch-token");
        if (T_token != null)
        {

        }
        else Index.index.GoTwitchSignin();
    }

}